:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;
}

img {
  padding-right: 1rem;
}

.topnav {
  overflow: hidden;
  margin: 3.5%;
}

.header-logo {
  float: left;
}

.main-navbar {
  float: right;
}

.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

.topnav a:hover,
.topnav a.active {
  background-color: #ff0000;
  color: #fff;
  border-radius: 15px;
  text-decoration: underline;
}

.topnav .icon {
  display: none;
}

main {
  font-size: 130%;
  font-weight: bolder;
  color: black;
  padding: 0.5vw 2vw;
  margin: 1px 20px 15px;
  border-radius: 2rem;
  text-align: justify;
}

.modal-btn {
  font-size: 1.45rem;
  background: #fe142f;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-btn:hover {
  background: #3876ac;
}

footer {
  margin: 20px;
  padding: 10px;
  font-family: var(--font-slab);
  text-align: center;
}

.bground {
  display: none;
  place-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}


#thankYouModal .content {
  width: 500px;
  height: 676px;
  background: #232323;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

#thankYouModal .modal-body {
  margin-top: 240px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#thankYouModal .btn-close-thankyou {
  align-self: flex-end;
  margin-top: 260px;
}

#thankYouModal p {
  font-family: 'DM Sans', sans-serif;
  font-size: 36px;
  margin: 0;
  font-weight: 400;
}

.content {
  position: relative;
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  color: #fff;
  padding-top: 10px;
}


.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.text-control.error {
  border: 2px solid red;
}

.error-message {
  color: red;
  display: none;
  font-size: 0.9rem;
  margin-top: 5px;
}

.error-message.active {
  display: block;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.4em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

#error-email {
  font-size: 0.8em;
  color: red;
  display: none;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 36px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: 10;
  transform: scale(0.7);
}

.close:before,
.close:after {
  content: "";
  position: absolute;
  height: 33px;
  width: 3px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}



.btn-submit,
.btn-signup,
.btn-close-thankyou {
  background: #fe142f;
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  font-size: 1rem;
  padding: 12px 82px;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.hero-section {
  min-height: 93vh;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow: hidden;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-content {
  padding: 51px 67px;
  grid-column: span 4;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content>* {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
}

.btn-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin-top: 59px;
}

.hero-img {
  grid-column: span 8;
}

.hero-text {
  width: 146%;
  font-weight: normal;
  margin-top: 57px;
  padding: 0;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
}

.copyrights {
  color: #fe142f;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
  text-align: center;
}

.hero-section>.btn-signup {
  display: none;
}

footer {
  padding: 0 2vw;
  margin: 0 20px;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
}

.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


body {
  overflow-x: hidden;
}

@media screen and (max-width: 800px) {

  .header-logo img {
    width: 200px;
    height: auto;
  }

  #thankYouModal .content {
    width: 414px;
    height: 657px;
  }

  #thankYouModal .bground {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 414px;
    height: 657px;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
    overflow-x: hidden;
}

  .hero-section {
    display: block;
    box-shadow: unset;
    padding: 0 20px;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 20px;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .btn-signup {
    display: none;
  }

  .hero-content {
    padding: 20px;
    box-sizing: border-box;
  }

  .hero-headline {
    font-size: 40px;
    white-space: normal;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 40px;
  }

  .hero-section>.btn-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 50px;
    text-align: center;
  }

  #thankYouModal .modal-body {
    margin-top: 150px;
    padding: 20px;
  }

  #thankYouModal .btn-close-thankyou {
    margin-bottom: 10px;
    align-self: center;
  }

  #thankYouModal .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
}

@media screen and (max-width: 768px) {

  .hero-headline {
    font-size: 40px;
    line-height: 1.2;
  }

  /* Pour forcer la ligne suivante */
  .hero-headline br {
    display: block;
    content: "";
  }

  .topnav a {
    display: none;
  }

  .topnav .icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .hero-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    display: block;
    word-wrap: break-word;
    width: 100%;
    margin-top: 20px;
  }


  .hero-content {
    padding: 0;
    min-width: unset;
    background: #fff;
    color: #000;
  }

  .hero-section {
    margin-bottom: 0;
  }

  #thankYouModal .bground {
    display: none;
    place-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 414px;
    height: 657px;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
    overflow-x: hidden;
}

}

@media screen and (max-width: 540px) {
   .topnav a.icon {
    float: right;
    display: block;
  }
  .hero-headline {
    font-size: 38px;
    line-height: 1.2;
    white-space: nowrap;
    font-weight: 500;
  }

  .hero-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 475px) {
  .hero-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {

  .hero-headline {
    font-size: 30px;
  }

  .hero-text {
    font-size: 10px;
  }

  #thankYouModal .content {
    place-items: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 350px;
    height: 657px;
}

}

@media screen and (max-width: 320px) {
  .topnav a.icon {
    margin-top: -15px;
  }

  .hero-headline {
    font-size: 25px;
  }

  .hero-text {
    font-size: 8px;
  }
}

